body {
    background-color: #F2F8FF;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
}
h1.title {
    color: DarkSeaGreen;
}
h1 div {
    position: relative;
    float: left;
    margin: 0;
}
.date {
    padding-top: 5px;
}
.date > button {
    float: right;
    border-radius: 6px 6px 6px 6px;
    margin-left: 5px;
}
div.stamp {
    margin: 0 auto;
    margin-top: 15px;
}
div.stamp > button {
    -webkit-box-shadow: 0px 3px 5px #888888;
    box-shadow: 0px 3px 5px #888888;
}
div.stamp > button:hover {
    opacity: 0.75;
}
div.stamp > button.comment {
    opacity: 0.5;
}
#stamps-in button,
.date button {
    background: DarkSeaGreen;
}
#stamps-out button {
    color: white;
    background: FireBrick;
}
.text-left {
    text-align: left;
}
#jobs {
   height: 2em;
   line-height: 2em;
   cursor: text;
   border: 1px solid DarkSeaGreen;
   padding-left: 1em;
   padding-right: 1em;
   color: #777;
   background-color: #F2F8FF;
   text-align: left;
   width: 100%;
}

/*http://stackoverflow.com/a/5108401/632495*/

.wrap-word {
    overflow: hidden;
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}